* {
    box-sizing: border-box;
}

html {
    font-size: 15px;
    height: 100%;
    color: #efe9f4;
}

body {
    background-color: #e6e6e9;
    display: flex;
    flex-direction: column;
    font-family: 'Teko', sans-serif;
    height: 100%;
    margin: 0;
}

/* utility classes */

.btn {
    background-color: white;
    color: black;
    border-radius: 10rem;
    font-size: 1rem;
    font-weight: 600;
    padding: 1em 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
}

.btn-pronto {
    background-color: #16bac5;
    color: black;
    border-radius: 10rem;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 1em 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
}

.btn-info {
    background-color: #d1345b;
    color: black;
    border-radius: 10rem;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 1em 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
}

.btn:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 black;
}

.btn:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
}



.d-block {
    display: block;
}

.m-t-1 {
    margin-top: 1rem;
}

.form-vertical {
    display: flex;
    flex-direction: column;
    
}

.form-vertical label {
    margin: 1rem 0 0.5rem 0;
}

.form-vertical input {
    padding: 1rem;
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    color: #000000;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    background: transparent;
    text-indent: 5px;
}


.headerMain {
    background-color: #171d1c;
    color: #efe9f4;
    padding: 1rem;
}

.headerMain .logo {
    font-size: 2rem;
}

.mainContent {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.formAddTaskContainer {
    background-color: #171d1c;
    margin-top: 2rem;
    max-width: 840px;
    padding: 2rem;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

.taskContainer {
    background-color: #171d1c;
    margin: 2rem;
    max-width: 840px;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

.noTasks {
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem;
    text-align: center;
}

.taskList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.taskItem {
    border: 1px solid #A0CED9;
    border-radius: 0.4rem;
    font-size: 1.5rem;
    font-weight: 100;
    margin-bottom: 1rem;
    padding: 1rem;
    width: 49%;
}

@media screen and (max-device-width: 480px) {
    .taskItem {
        width: 100%;
    }
}

.taskTitle {
    font-weight: 400;
}

.taskItem[open] .taskTitle {
    margin-bottom: 10px;
}

.footerMain {
    background-color: #171d1c;
    color: #FFF;
    padding: 1rem;
}
